<article class="flex-row h-full max-w-lg p-5 px-6 bg-white rounded-lg shadow-xl mx-auto">
  <div>
      <h2 class="font-bold text-xl">{{title}}</h2>
    <p class="text-red-500">Author: {{author}}</p>
    <p>{{review}}</p>
  </div>
  <div class="w-full flex justify-between pt-10">
    <p class="bg-green-500 p-3 px-5 rounded-lg">Like</p>
  </div>
</article>