<article id='{{id}}' class="flex-row h-full max-w-lg p-5 px-6 bg-white rounded-lg shadow-xl mx-auto">
    <h2 class="font-bold text-xl">Name: {{name}}</h2>
    <p class="text-red-500">Genre: {{genre}}</p>
    <p>{{description}}</p>
</article>