<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookMe!</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
      <h1>
        <a href="/" >BookMe!</a>
      </h1>
      <nav class>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login" id="login-display">Login</a>
        {{/if}}
      </nav>
    </header>
  <div class="wrapper">
    <main >
      {{{ body }}}
    </main>
    <footer >
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  
</body>

</html>