<form class="zip-submit">
    <div>
        <label for="zip-code">Please enter your zip code to find books for sale and connect to people near you!</label>
        <input type="zip_code" id="zip-code"/>
    </div>
    <div>
        <button type="submit">ENTER</button>
    </div>
</form>
<script src="/public/javascript/location.js"></script>